<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'blogs/base.html' %}

{% block content %}
<ul>
    <li>
        {% for blog in blogs %}
        <h1>{{ blog }}</h1>
        <p>created at: {{ blog.date_added}}</p>
        <p>{{ blog.text }}</p>
        <a href="{% url 'blogs:edit_blog' blog.id %}">edit blog</a>
        {% empty %}
        {% endfor %}
    </li>
</ul>
<a href="{% url 'blogs:add_blog' %}">add blog</a>
{% endblock content %}

</body>
</html>